// Contains all variable for custom colors

$main-red: #7b1113; //dark red
$accent-green: #335628;
$light-green: #a2fa4c; //bright green

$dark-gray: #667D7F;
$blue: #7FF2FF;
$light-blue: #CCFAFF;
$dark-blue: #132E54;
$gray: #A3C8CC;
$csi-blue: #00C6D7;
