// Contains all variable for custom colors

$main-red: #7b1113; //dark red
$main-green: #014421; //dark green
$main-orange: #ff6e1f; //main orange
$main-blue: #4b68ff;

$accent-blue: #132E54; //2nd blue
$accent-red: #8E171A;
$accent-orange: #B43C25;
$accent-green: #335628;

$light-red: #cc0001;  //bright red
$light-green: #a2fa4c; //bright green
$light-orange: #fbae5c; //brigh orange
//$light-blue: #67c7ff;

$gray-60: #999999;
$gray-medium-light: #eaeaea;

//dyosa trial
$dark-gray: #667D7F;
$blue: #7FF2FF;
$light-blue: #CCFAFF;
$dark-blue: #40797F;
$gray: #A3C8CC;
