@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html, body {
  height: 100%;
  font-family: "proxima-nova",helvetica,arial,sans-serif;
  background-color: white;
  //background-image: url('headersbg.png');
  background-repeat: repeat;
  background-position: center;
}

.hr {
    display: block;
    height: 1px;
    border-top: 1px solid #6A6E80;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

section {
  overflow: auto;
  min-height: 640px;
  overflow-x: hidden;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.top-buffer {
  margin-top: 30px;
}

.bottom-buffer{
  margin-bottom: 30px;
}

.border-bottom {
  border-bottom: 1px solid $gray;
}

.border-top {
  border-top: 1px solid $gray;
}

.side-margin-19 {
  margin-left: 19px;
  margin-right: 19px;
}
