@import "colors.scss";

.footer-above {
  background-color: $dark-blue;
  padding: 5px 10px 10px 5px;
  border-top: 2px solid $gray;
  color: white;

  h1,h2,h3{
    color: $gray;
    text-align: left;
  }
  p{
    color: $gray;
    font-size: 1em;
  }
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
}

.footer-below{
  background-color: $dark-blue;
  padding-top: 2px;
  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;

  p{
    text-align: center;
    font-size: 1em;
    color:$gray;
    margin: 0 auto;
  }
}
