// Place all the styles related to the IPOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";


#ipoffersbg{
//  min-height: 640px
  background-image: url('static/ip-offersbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1,h2,h3,h4,p,span{
    color: $dark-blue;
  }
}

#ip-offer{
  margin-top: 100px;
  h1{
    color: black;
  }
  h2{
    color: black;
    font-size: 2.5em;
  }
  h3{
    color: black;
    font-size: 1.8em;
  }
  p{
    color: black;
  }
}

#typography{
  p{
    color: black;
    padding-bottom: 10px;
  }
  h3{
    color: black;
    font-size: 1.8em;
  }
  h5{
    color: black;
    font-size: 1em;
  }
}

#top{
  .well{
    margin-top: 100px;
    h2{
      color: black;
      font-size: 2.5em;
    }
  }
}

.well{
  h2{
    color: black;
    font-size: 2.5em;
  }
}

.container{
  background-color: transparent;
}
