// Place all the styles related to the IPOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";


#ipoffersbg{
//  min-height: 640px
  background-image: url('static/ip-offersbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1,h2,h3,h4,p,span{
    color: $dark-blue;
  }
}

.well{
  margin-top: 70px;
  h1,h2{
    color: $dark-blue;
    font-size: 2.5em;
  }
}

.container{
  background-color: transparent;
}
