// Contains all navbar-related CSS
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";

.navbar{
  margin: 0px;
  height: 60px;
  padding-top: 10px;
  border: 0px;
  background-color: $dark-blue!important;
}

.navbar-logo{
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  padding: 0px;
}

#iptulogo {
  float: right;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 1.5em;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-default .navbar-nav li>a,
.navbar-default .navbar-nav li > a.dropdown-toggle{
  color: $gray!important;
  background-color: $dark-blue!important;
  background-color: #000000;
  padding-bottom: 14px;
  &:hover, &:focus{
    color: $gray;
    background-color: lighten($dark-blue,10%) !important;
  }
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a.dropdown-toggle{
  color: $gray;
  background: none;
  border-bottom: 5px solid $gray;
  padding-bottom: 10px;
  &:hover, &:focus{
    color: $gray;
    background: lighten($dark-blue,10%);
  }
 }
button.navbar-toggle.collapsed,
ul.dropdown-menu{
  background-color: $dark-blue;
  &:hover, &:focus{
    background-color: $dark-blue;
  }
 }
