@import "colors.scss";
#loginbg{
  background-image: url('static/loginbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#form {
  .container  {
    margin-top: 145px;
    margin-bottom: 70px;
  }
}

#loginbox {
  padding: 0px;
  border: solid 1px $gray;
}

.white-alpha-90 {
  background-color: rgba(256, 256, 256, 0.9);
}

.panel {
  margin-bottom: 0;
  box-shadow: 0px 0px 20px 1px black;
  border-radius: 20px;
}

.panel-heading {
  border-bottom: 1px solid #aaa;
  h2{
    color: $dark-blue;
  }
}

.panel-title {
  font-family: 'Open Sans Condensed', sans-serif;
  .span {
    font-family: 'Roboto Slab', serif;
  }
}

.panel-body {
  padding-top: 30px;
}

#loginform {
  .input-group {
    margin-bottom: 15px;
  }
  .input-group[class*="col-"] {
    float: left;
  }
}
