// Contains all Static_Pages-related CSS
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";
@import "custom.scss";
@import "about.scss";

/*Home Page*/
.introduction{
  max-height: 640px;
//  padding-top: 30px;
}

#carouseltop{
  padding-top: 30px;
  height: 640px;
  overflow: hide;
//  margin: 0 auto 0 auto;
  display: block;

}

.carousel-caption{
    top: 50px;
    bottom: auto;
    //background-color: lighten(black,60%);
    border-radius: 25px;
    background: rgba(0,0,0,0.3);
    h1{
      color: white;
      font-size: 2.5em;
    }
}

.carousel-indicators{
  //top: 500px;
  top: auto;
  bottom: 100px;
}
.carousel,.item, .active{
  height: 100%;

}

.carousel-inner{
  height:  100%;
  overflow: hidden;

}


///nacommentout yun use nito sa home.html
.fill{
  // height: 100%;
  // width:  100%;
  //
  background-image: url(static/bluelb3.jpeg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

// #cimage{
//   height: 640px!important;
//   width:  1080!important;
// }

#mv{
  margin-top: 0;
  padding-top: 100px;
  height: 640px;
  background-color: $accent-green;
  //background-image: url(static/bluelb3.jpeg);
  //background-repeat:no-repeat;
  //background-size: 100%;
}

#IPOffers{
  // background-size: cover;
  padding-top: 100px;
  align-items: center;
  height: 640px;
  background-color: lighten($dark-blue, 15%);

}

#IPNeeds{
  // background-size: cover;
  padding-top: 100px;
  align-items: center;
  height: 640px;
  background-color: $main-red;
}

.img-fluid{
  padding: 0 30px 0 auto;
  max-width: 100%;
  max-height: 100%;
}

// For main images of ip offers and ip needs
 #img-responsiveIP{
  margin-left: 70px;
 }
