// Contains all Static_Pages-related CSS
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors.scss";

/*Home Page*/
.introduction{
  min-height: 640px;
  padding-top: 30px;

}

#carouseltop{
  padding-top: 30px;
  height: 640px;
  overflow: hidden;
//  margin: 0 auto 0 auto;
  display: block;

}

.carousel-caption{
    top: 50px;
    bottom: auto;
    //background-color: lighten(black,60%);
    border-radius: 25px;
    background: rgba(0,0,0,0.3);
    h1{
      color: white;
      font-size: 5em;
    }
}

.carousel-indicators{
  top: 500px;
  bottom: auto;
}
.carousel,.item, .active{
  height: 100%;

}

.carousel-inner{
  height:  100%;
  overflow: hidden;

}


///nacommentout yun use nito sa home.html
.fill{
  // height: 100%;
  // width:  100%;
  //
  background-image: url(static/bluelb3.jpeg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

// #cimage{
//   height: 640px!important;
//   width:  1080!important;
// }

#bannerhead{
  margin-top: 0;
  padding-top: 100px;
  min-height: 640px;
  background-color: white;
  //background-image: url(static/bluelb3.jpeg);
  //background-repeat:no-repeat;
  //background-size: 100%;
}

.container-fluid{
  // background-size: cover;
  align-items: center;
  max-height: 640px;
}

.section-img{
  padding: 0 30px 0 auto;
}

// For main images of ip offers and ip needs
 #img-responsiveIP{
  margin-left: 70px;
 }

.hr{
  color: $gray;
}
