= csrf_meta_tags
= stylesheet_link_tag    'application', 'token-input-facebook', media: 'all', 'data-turbolinks-track': 'reload'
// = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"  
= javascript_include_tag 'application', 'jquery.tokeninput', 'data-turbolinks-track': 'reload'
